.grid-container {
   display: grid;
   height: 800px;
   width: 800px;
   background-color: lightgray;
   margin: 0 auto;
   gap: 2px;
   box-sizing: content-box;
}

.grid-square {
    border: 1px solid white
}
#user-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 10px auto;
}

.mouse-enter {
    background-color: aqua;
}